.App {
  box-sizing: border-box;
  margin:0 auto;
  text-align: center;
  background-color: rgb(192, 225, 255);
  font-family: 'Fira Sans', sans-serif;
}

h1{
  margin-top: 0;
  padding-top: 50px;
}

.search input{
  width: 300px;
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  padding: 5px;
}
.container{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 10px;
  justify-content: space-around;  
  padding: 20px;
}

.App .container .info{
  border: 1px solid #000b24;
  /* background-color: rgb(202, 202, 202); */
  color: #000b24;
  margin-bottom: 30px;
  cursor: pointer;
}

.search{
  display: flex;
  justify-content: center;
  margin: 0 40px;
  align-items: center;
}

svg{
  width: 40px;
  cursor: pointer;
}
